.account-form {
  width: auto;
  margin: none;
}

input-group {
  position: relative;
  display: flex;
  align-items: center;
}
.show-password {
  color: black;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}