.menu {
  max-width: 400px;
  display: flex;
  margin: auto; /* center the menu element */
  justify-content: center; /* align items along the horizontal axis */
  flex-direction: column; /* stack the buttons vertically */
}

.menu-item {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
}

.menu-item:hover {
  background-color: var(--hover-primary-color);
  text-decoration: none;
  color: white;
}

.menu-item:active {
  text-decoration: none;
  transform: scale(0.99);
}